
@{
    Layout = null;
}

<!DOCTYPE html>

<h4>MVC Category Table</h4>
<br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    <tr />
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama yapmadık.</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Eğitim</td>
        <td>Açıklama yaptık.</td>
        <td>True</td>
    </tr>
</table>